{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div class="col-sm-10">
    <h3 class="text-white my-5">About Page!!!</h3>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione eveniet laborum placeat quidem deleniti non doloremque sunt, asperiores cumque vitae voluptatem modi ad? Ut, cum.
</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae similique quibusdam rem obcaecati fugiat nulla omnis dolorem! Sint mollitia similique iure temporibus vitae eius corrupti soluta eligendi, vel culpa dolorum libero obcaecati atque doloribus iste.</p>

</div>
{% endblock content %} 